@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

svg[Attributes] {
    width: 1em;
    height: 1em;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

style attribute {
    --topbar-height: 74px;
    --header-height: 104px;
}

:where(html) {
    --brand-hue: 115;
    --gray-hue: 210;
    --clr-brand: var(--brand-hue) 81% 22%;
    --clr-brand-dark: var(--brand-hue) 19% 12%;
    --clr-brand-900: var(--brand-hue) 25% 7%;
    --clr-brand-extra-dark: 120 8% 7%;
    --clr-gray-600: var(--gray-hue) 0% 60%;
    --clr-gray-400: var(--gray-hue) 1% 74%;
    --clr-error: 359 100% 31%;
    --clr-white: 0 0% 100%;
    --gradient: linear-gradient(0deg, rgba(16, 19, 16, 0), #101310);
    --fs-h1: clamp(4rem, 2.29vw + 2.63rem, 7.2rem);
    --fs-h2: clamp(2.8rem, 3.5vw + 0.7rem, 5.6rem);
    --fs-h3: clamp(2.4rem, 2vw + 1.2rem, 4rem);
    --fs-h4: clamp(2rem, 1.5vw + 1.1rem, 3.2rem);
    --fs-h5: clamp(1.6rem, 1vw + 1rem, 2.4rem);
    --fs-h6: clamp(1.2rem, 1.33vw + 0.4rem, 1.6rem);
    --fs-body-large: clamp(1.8rem, 0.75vw + 1.35rem, 2.4rem);
    --fs-body: clamp(1.6rem, 0.4vw + 1.24rem, 1.8rem);
    --fs-body-small: clamp(1.4rem, 0.4vw + 1.04rem, 1.6rem);
    --ff-serif: "HeinekenSerif",serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --site-constrain: 192rem;
}

html {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

input[type="number" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

style attribute {
    --vh: 7.13px;
    --vw: 14.64px;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

body {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    background-color: hsl(var(--clr-brand-dark));
    font-family: var(--ff-serif);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}

.qoraP {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #090c0991;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.checkout_container {
    display: contents;
}

.css-plx4jb {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.css-to65sb {
    position: relative;
    min-height: 300px;
    background: rgb(238, 238, 238);
    z-index: 1;
}

.css-7jmcbh {
    pointer-events: none;
    left: 0px;
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
    backface-visibility: hidden;
    width: 100%;
    z-index: 2;
    position: relative;
    padding: 30px 30px 72px;
    background-image: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(238, 238, 238);
}

.css-1phtf01 {
    padding: 100px 32px;
    background: rgb(238, 238, 238);
}

.css-2j91og {
    min-height: 250px;
    padding-bottom: 32px;
    background: linear-gradient(90deg, rgb(187, 188, 189) 0%, rgb(221, 221, 221) 49%, rgb(187, 188, 189) 99%) rgb(221, 221, 221);
}

.css-qjhdjh {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 4;
    will-change: padding-top;
}

.css-1b1sn9v {
    transition: height 0.2s ease-out;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    background-color: rgb(20, 28, 19);
    z-index: 1;
}

.css-1m3tk1m {
    pointer-events: all;
    transition: transform 200ms;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translateX(100vw);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 75px;
    background-color: rgb(20, 28, 19);
    z-index: 3;
}

.css-a1plr2 {
    pointer-events: all;
    cursor: pointer;
    outline: none;
    flex: 0 0 154px;
    width: 154px;
    height: 110px;
    display: inline-block;
    background-image: url(https://heigishnkexpepazwesta1.blob.core.windows.net/media/EXPERIENCE_1_C_RGB_154x90_nmZiBrl.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    transition: transform 200ms;
    will-change: transform;
    z-index: 5;
}

.css-5254ef {
    pointer-events: all;
    display: flex;
    height: 0px;
    margin: 45px auto 0px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 0px;
    list-style: none;
}

.css-uihoyo {
    cursor: pointer;
    position: relative;
    margin: 0px 100px;
}

.css-uihoyo:first-of-type {
    margin-left: 0px;
}

.css-uihoyo > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.css-3zq3ob {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 10px 0px;
    background-color: rgb(19, 103, 11);
    border-radius: 100%;
    border: 10px solid rgb(238, 238, 238);
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
}


.css-y4pf82 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
    white-space: nowrap;
    margin: 0px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(19, 103, 11);
}

.css-pd2080 {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: hsl(var(--clr-gray-400));
    pointer-events: all;
    will-change: transform;
}

.css-1hffiq1 {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none;
    z-index: 2;
}

.css-1twc4aq {
    -webkit-transition: opacity 200ms ease-out, -webkit-transform 200ms ease-out;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    pointer-events: none;
    padding: 50px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.css-cs6kbr {
    margin-left: 10px;
    font-size: 2rem;
    color: currentColor;
}

.css-1twc4aq {
    -webkit-transition: opacity 200ms ease-out, -webkit-transform 200ms ease-out;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    pointer-events: none;
    padding: 50px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.css-lzogk0 {
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 290px;
    padding: 30px 50px;
    background-color: #13670B;
}

.css-avgy66 {
    -webkit-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
    cursor: pointer;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    margin: 5px 0;
    padding: 0;
    color: #fff;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: #bbbcbd;
    letter-spacing: 0;
    line-height: 40px;
}

.css-1hf4z4i {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 10px 0px;
    background-color: rgb(221, 221, 221);
    border-radius: 100%;
    border: 10px solid rgb(238, 238, 238);
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.6rem;
    color: rgb(187, 188, 189);
}

.css-1w9z4ic {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0px);
    white-space: nowrap;
    margin: 0px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(187, 188, 189);
}

.css-1hffiq1 {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none;
    z-index: 2;
}

.css-1twc4aq {
    -webkit-transition: opacity 200ms ease-out, -webkit-transform 200ms ease-out;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    pointer-events: none;
    padding: 50px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.css-cs6kbr {
    margin-left: 10px;
    font-size: 2rem;
    color: currentColor;
}

.css-lzogk0 {
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 290px;
    padding: 30px 50px;
    background-color: #13670B;
}

.css-pd2080 {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: hsl(var(--clr-gray-400));
    pointer-events: all;
    will-change: transform;
}

.css-pd2080:hover {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: hsl(var(--clr-gray-400));
    pointer-events: all;
    will-change: transform;
}

.css-pd2080:hover >div {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.css-1hffiq1 {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none;
    z-index: 2;
}

.css-7jmcbh {
    pointer-events: none;
    left: 0px;
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
    backface-visibility: hidden;
    width: 100%;
    z-index: 2;
    position: relative;
    padding: 30px 30px 72px;
    background-image: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(238, 238, 238);
}

.css-avgy66 {
    -webkit-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
    cursor: pointer;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    margin: 5px 0;
    padding: 0;
    color: #fff;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: #bbbcbd;
    letter-spacing: 0;
    line-height: 40px;
}

.css-1b1sn9v {
    transition: height 0.2s ease-out;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    background-color: rgb(20, 28, 19);
    z-index: 1;
}

.css-1th8wul {
    transform: translateY(-80px);
    max-width: calc(100% - 30px);
    margin: 0px auto -60px;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.css-2j91og {
    min-height: 250px;
    padding-bottom: 32px;
    background: linear-gradient(90deg, rgb(187, 188, 189) 0%, rgb(221, 221, 221) 49%, rgb(187, 188, 189) 99%) rgb(221, 221, 221);
}

.css-1th8wul {
    transform: translateY(-80px);
    max-width: calc(100% - 30px);
    margin: 0px auto -60px;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.css-36mw94 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.css-p8o14w {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.css-wwukbx {
    pointer-events: inherit;
    transition: box-shadow 0.2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2em;
    font-size: 16px;
    padding: 25px 75px;
    background-color: rgb(19, 103, 11);
    color: rgb(255, 255, 255);
    font-family: var(--ff-serif);
    font-weight: 700;
    text-align: center;
    border: none;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
}

.css-wwukbx span {
    position: relative;
    z-index: 2;
}

.fw-bold, b, strong {
    font-weight: 700;
}

.css-bcc8qj {
    outline: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: 4rem;
    color: hsl(var(--clr-brand));
    -webkit-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
}

.css-1s1z98e {
    display: inline-flex;
    outline: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    text-align: center;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    border: 1px solid hsl(var(--clr-gray-600));
    color: hsl(var(--clr-brand));
    background: none;
}

.css-bcc8qj {
    outline: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: 4rem;
    color: hsl(var(--clr-brand));
    -webkit-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
}

@media (max-width: 768px) {
    .css-1th8wul {
        display: block;
    }
}

.css-1m3tk1m {
    pointer-events: all;
    transition: transform 200ms;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translateX(100vw);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 75px;
    background-color: rgb(20, 28, 19);
    z-index: 3;
}

.css-7jmcbh a {
    text-decoration: none;
}

.css-il20sc {
    overflow: hidden scroll;
    width: 100%;
    height: calc(-75px + 100vh);
    padding: 50px 0px 100px;
}

.css-nxesi1 {
    margin: 0px 0px 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2.4rem;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.css-1iwdlu4 {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: hsl(var(--clr-gray-400));
}

.css-1hffiq1 {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none;
    z-index: 2;
}

.css-z9gnml {
    -webkit-transition: opacity 200ms ease-out, -webkit-transform 200ms ease-out;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    pointer-events: none;
    padding: 50px 0;
    position: absolute;
    top: 0;
    right: 0;
    top: auto;
    bottom: 0;
}

.css-1phtf01 {
    padding: 100px 32px;
    background: rgb(238, 238, 238);
}

.css-1a88uei {
    margin: 0px 0px 30px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 1.2em;
    text-align: center;
    color: rgb(19, 103, 11);
}

.css-18cri4q {
    margin: 0px;
    font-family: var(--ff-serif);
    font-size: 2.4rem;
    line-height: 1.2em;
    text-align: center;
    color: rgb(153, 153, 153);
}

.css-2j91og {
    min-height: 250px;
    padding-bottom: 32px;
    background: linear-gradient(90deg, rgb(187, 188, 189) 0%, rgb(221, 221, 221) 49%, rgb(187, 188, 189) 99%) rgb(221, 221, 221);
}

.css-1w38muv {
    width: 100%;
    max-width: 1660px;
    padding: 0px 30px;
    z-index: 4;
    transform: translateY(-50%);
    margin: 0px auto;
}

.css-1th8wul {
    transform: translateY(-80px);
    max-width: calc(100% - 30px);
    margin: 0px auto -60px;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.css-125rl32 {
    display: flex;
    height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 40px 80px 0px;
}

.css-1cdby4x {
    position: relative;
    display: flex;
    flex: 1 1 20%;
    border-right: 1px solid rgb(221, 221, 221);
    -webkit-box-align: center;
    align-items: center;
}

.css-1pts959 {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px 30px;
}

.css-1i82ydo {
    display: block;
}

.fw-bold, b, strong {
    font-weight: 700;
}

.text-gray-600 {
    color: hsl(var(--clr-gray-600));
}

.css-1td8fe {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsl(var(--clr-gray-600));
}

.css-1o2mfsl {
    outline: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: transparent;
    border: none;
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: 4rem;
    color: hsl(var(--clr-brand));
    transition: color 200ms ease-out;
}

.css-1o2mfsl {
    outline: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: transparent;
    border: none;
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
    font-size: 4rem;
    color: hsl(var(--clr-brand));
    transition: color 200ms ease-out;
}

.css-1o2mfsl svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.css-11nlt7b {
    display: inline-flex;
    outline: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    text-align: center;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    border: 1px solid hsl(var(--clr-gray-600));
    color: hsl(var(--clr-brand));
    background: none;
}

.css-1phtf01 {
    padding: 100px 32px;
    background: #eee;
}

.css-2j91og {
    min-height: 250px;
    padding-bottom: 32px;
    background: #dddddd;
    background-image: linear-gradient(90deg, #bbbcbd 0%, #dddddd 49%, #bbbcbd 99%);
}


.css-1cdby4x {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    border-right: 1px solid #dddddd;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

button, input, select, textarea {
    font: inherit;
}

.css-7jmcbh {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    padding: 30px 30px 30px;
    background-image: linear-gradient(180deg, #090c09 0%, rgba(9, 12, 9, 0) 58%);
    z-index: 2;
    position: relative;
    padding: 30px 30px 72px;
    background-image: none;
    border-bottom: 1px solid #DDDDDD;
    background-color: #eee;
}

.css-ypjt16 {
    position: relative;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.css-1cdby4x {
    position: relative;
    display: flex;
    flex: 1 1 20%;
    border-right: 1px solid rgb(221, 221, 221);
    -webkit-box-align: center;
    align-items: center;
}

.css-m5hkqt {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(187, 188, 189);
}

.css-r7gzoi {
    pointer-events: none;
    width: 2rem;
    order: 2;
    z-index: 2;
    padding-right: 10px;
}

.css-ypjt16 input, .css-ypjt16 input::placeholder {
    cursor: pointer;
    outline: none;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2em;
    text-align: left;
    color: rgb(19, 103, 11);
    border: none;
}

.css-ypjt16 input {
    order: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.css-1kg9k60 {
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.6rem;
    color: rgb(19, 103, 11);
    letter-spacing: 0px;
    line-height: 1.3em;
}


.css-gv637c {
    display: none;
}

.css-m5hkqt {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(187, 188, 189);
}

.css-1kg9k60 {
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.6rem;
    color: rgb(19, 103, 11);
    letter-spacing: 0px;
    line-height: 1.3em;
}


.css-ypjt16 input {
    order: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.css-1cdby4x {
    position: relative;
    display: flex;
    flex: 1 1 20%;
    border-right: 1px solid rgb(221, 221, 221);
    -webkit-box-align: center;
    align-items: center;
}

.css-1cdby4x:last-of-type {
    border-right: 0px;
}

.css-1f0p3fd {
    pointer-events: inherit;
    transition: box-shadow 0.2s;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2em;
    font-size: 16px;
    background-color: rgb(19, 103, 11);
    color: rgb(255, 255, 255);
    font-family: var(--ff-serif);
    font-weight: 700;
    text-align: center;
    border: none;
    text-decoration: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}

.css-1f0p3fd span {
    position: relative;
    z-index: 2;
}

.css-1f0p3fd {
    pointer-events: inherit;
    transition: box-shadow 0.2s;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2em;
    font-size: 16px;
    background-color: rgb(19, 103, 11);
    color: rgb(255, 255, 255);
    font-family: var(--ff-serif);
    font-weight: 700;
    text-align: center;
    border: none;
    text-decoration: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}

style attribute {
    --topbar-height: 74px;
    --header-height: 104px;
}

.css-36mw94 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.css-1th8wul {
    transform: translateY(-80px);
    max-width: calc(100% - 30px);
    margin: 0px auto -60px;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.css-p8o14w {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.css-1i82ydo {
    display: block;
}

.css-1td8fe {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsl(var(--clr-gray-600));
}

.css-1vzof1e {
    display: none;
    position: relative;
    width: 100%;
    max-width: 1660px;
    margin: 0px auto;
    padding: 0px 30px;
}

.css-1xan10o {
    margin: 20px auto 30px;
}

.css-3fjfmx {
    position: relative;
    display: block;
    height: 50px;
    margin: 32px 0px;
    z-index: 2;
}

.css-eyq9z8 {
    display: flex;
    width: 100%;
    margin: 0px 0px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 40px 80px 0px;
    pointer-events: all;
    opacity: 1;
    filter: none;
}

.css-12zunm {
    overflow: hidden;
    position: relative;
    width: 30%;
}

.css-1sk7lby {
    flex: 1 1 0%;
    border-right: 1px solid rgb(221, 221, 221);
    padding: 40px 60px;
}

.css-1mis332 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 40px 60px;
}

.css-1ptwbzw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    text-align: center;
    color: rgb(136, 136, 136);
}

.css-1ptwbzw span {
    display: inline-block;
    margin-right: 5px;
}

.css-4bomar {
    transition: background-color 200ms ease-out;
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    margin-left: 0px;
    padding: 0px 15px;
    width: 100%;
    background-color: rgb(221, 221, 221);
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
}

.css-4yw63r {
    display: block;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 18px 10px;
}

.css-125doyd {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin: 0px 20px 0px 0px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(19, 103, 11);
    letter-spacing: 0px;
    line-height: 14px;
}

.css-1py3nsh {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin: 0px 20px 0px 0px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(153, 153, 153);
    letter-spacing: 0px;
    line-height: 14px;
}

.css-1py3nsh:last-of-type {
    margin-right: 30px;
}

.css-1py3nsh {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin: 0px 20px 0px 0px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(153, 153, 153);
    letter-spacing: 0px;
    line-height: 14px;
}

.css-12zunm img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.css-u49bnp {
    margin: 0px 0px 20px;
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2em;
    color: rgb(19, 103, 11);
}

.css-x1v78k {
    margin: 0px;
    font-family: var(--ff-serif);
    font-size: 2rem;
    line-height: 1.2em;
    color: rgb(187, 188, 189);
}

.css-eyq9z8 {
    display: flex;
    width: 100%;
    margin: 0px 0px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 40px 80px 0px;
    pointer-events: all;
    opacity: 1;
    filter: none;
}

.css-l9k4bm {
    transition: max-height 200ms ease-out;
    overflow: hidden;
    max-height: 0px;
}

.css-11zhy3w {
    overflow: hidden;
}

.css-5u94ic {
    display: block;
    font-size: 1.6rem;
}

.css-4ejtb2 {
    display: block;
    margin: 20px 0px;
    list-style: none;
    padding: 0px;
    text-align: left;
    columns: 1;
    column-gap: 0px;
    font-size: 1em;
}

.css-pvg6d7 {
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 10px;
    font-family: var(--ff-serif);
    font-size: 1em;
    line-height: 1.2em;
    color: rgb(187, 188, 189);
    break-inside: avoid;
}

.css-1rkl7hg {
    font-size: 1.5em;
    margin-right: 10px;
}

.css-pvg6d7 span {
    flex: 1 1 0%;
    display: inline-block;
    padding-left: 5px;
}

.css-1mis332 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 40px 60px;
}

.css-uv66rw {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.css-13fy329 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px 0px;
    list-style: none;
    padding: 0px;
}

.css-sfo5tp {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 10px;
    color: rgb(153, 153, 153);
}

.css-y5gfni {
    flex: 0 1 0%;
    margin-top: auto;
}

.css-1irjrwp {
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    color: currentcolor;
}

.css-16rx2oz {
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    color: currentcolor;
    white-space: nowrap;
}

.css-y5gfni {
    flex: 0 1 0%;
    margin-top: auto;
}

.css-co9fhc {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid rgb(216, 216, 216);
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    color: rgb(19, 103, 11);
}

.css-si32mj {
    pointer-events: inherit;
    transition: box-shadow 0.2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2em;
    font-size: 16px;
    padding: 12px 30px;
    background-color: rgb(19, 103, 11);
    color: rgb(255, 255, 255);
    font-family: var(--ff-serif);
    font-weight: 700;
    text-align: center;
    border: none;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    display: block;
}

.css-1irjrwp {
    font-family: var(--ff-serif);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    color: currentcolor;
}

.SiteFooter_root__sZtgi {
    color: #fff;
    position: relative;
    background-color: hsl(var(--clr-brand-dark));
    z-index: 3;
    margin-top: calc(clamp(3.6rem, 8vw + -1.2rem, 10rem)* -1);
}

.SiteFooter_content__TkTjR {
    padding-block: clamp(4rem, 13.33vw + -4rem, 12rem);
}


.SiteFooter_inner__3KsA7 {
    grid-column: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.SiteFooter_content__TkTjR>div {
    padding-block: 0;
}

.SiteFooter_nav__Cc3LI {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
    align-self: stretch;
}

.SiteFooter_navCol__rbuOq {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2.4rem, 1vw + 1.8rem, 3.2rem);
}

.SiteFooter_list__mmeyY {
    display: grid;
    gap: 1.6rem;
    list-style: none;
    padding-left: 0;
    margin-block: 0;
}

.SiteFooter_nav__Cc3LI {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
    align-self: stretch;
}

.SiteFooter_navCol__rbuOq {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2.4rem, 1vw + 1.8rem, 3.2rem);
}

.fs-h5, h5 {
    font-size: var(--fs-h5);
}

.SiteFooter_list__mmeyY {
    display: grid;
    gap: 1.6rem;
    list-style: none;
    padding-left: 0;
    margin-block: 0;
}

.Button_root__7YWUn.Button_small__batyJ {
    --_padding-x: 1.6rem;
    --_padding-y: 0.5rem;
}

.Button_root__7YWUn {
    --_button-color: hsl(var(--clr-brand));
    --_button-border-color: hsl(var(--clr-brand));
    --_padding-x: clamp(2.4rem, 4.8vw + -1.92rem, 4.8rem);
    --_padding-y: clamp(1.6rem, 1.6vw + 0.16rem, 2.4rem);
    --_fs: clamp(1.4rem, 0.4vw + 1.04rem, 1.6rem);
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .4rem;
    padding-block: var(--_padding-y);
    padding-inline: var(--_padding-x);
    font-size: var(--_fs);
    background-color: var(--_button-color);
    border: 2px solid var(--_button-border-color);
    border-radius: 0;
    color: hsl(var(--clr-white));
    font-weight: var(--fw-bold);
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: none;
    transition: box-shadow .2s ease 0s;
    overflow: hidden;
}

.SiteFooter_navItem__Xp9E4 {
    display: flex;
    align-items: flex-start;
    gap: .8rem;
}

.SiteFooter_navItem__Xp9E4 a {
    color: hsl(var(--clr-gray-600));
    -webkit-text-decoration: none;
    text-decoration: none;
}

.SiteFooter_bottomBar__yxA3H {
    padding-top: 5.6rem;
    padding-bottom: 4rem;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    text-align: center;
}

.SiteFooter_content__TkTjR {
    padding-block: clamp(4rem, 13.33vw + -4rem, 12rem);
}



.SiteFooter_inner__3KsA7 {
    grid-column: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.SiteFooter_bottomBar__yxA3H>div {
    padding-block: 0;
}

.SiteFooter_bottomInner__tCpzV {
    grid-column: main;
}

.SiteFooter_bottomNav__57fes {
    list-style: none;
    padding-left: 0;
    margin-block: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(2.4rem, 1.33vw + 1.6rem, 3.2rem);
}

.SiteFooter_enjoy__Wdfxh {
    display: inline-flex;
    font-size: 40px;
    margin-top: 4rem;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: currentcolor;
}

.SiteFooter_bottomNav__57fes .SiteFooter_navItem__Xp9E4 {
    font-size: var(--fs-body-small);
}

.SiteFooter_navItem__Xp9E4 {
    display: flex;
    align-items: flex-start;
    gap: .8rem;
}

.SiteFooter_logo__3k4YD {
    height: 80px;
    width: auto;
}

.SiteFooter_nav__Cc3LI {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
    align-self: stretch;
}


@media (width >= 56.25em) {
    .SiteFooter_logo__3k4YD {
        height: 104px;
    }
}

@media (width >= 75em) {
    .SiteFooter_logo__3k4YD {
        height: 120px;
    }
}

@media (width >= 56.25em) {
    .SiteFooter_bottomNav__57fes .SiteFooter_navItem__Xp9E4:first-child {
        order: 0;
    }
}

@media (width >= 56.25em) {
    .SiteFooter_bottomNav__57fes {
        flex-direction: row;
        max-width: 50rem;
        margin-inline: auto;
    }
}

@media (width >= 75em) {
    .SiteFooter_bottomNav__57fes {
        max-width: none;
        margin-inline: 0;
    }
}

@media (width >= 75em) {
    .SiteFooter_enjoy__Wdfxh {
        margin-top: 0;
        margin-left: auto;
    }
}

@media (width >= 75em) {
    .SiteFooter_bottomInner__tCpzV {
        display: flex;
        align-items: center;
    }
}
@media (width >= 56.25em) {
    .SiteFooter_bottomBar__yxA3H {
        padding-top: 4rem;
        padding-bottom: 5.6rem;
    }
}

@media (width >= 75em) {
    .SiteFooter_bottomBar__yxA3H {
        padding-top: 5.6rem;
    }
}

@media (width >= 75em) {
    .SiteFooter_navCol__rbuOq {
        flex: 0 1 330px;
        align-items: flex-start;
    }
}

@media (width >= 75em) {
    .SiteFooter_nav__Cc3LI {
        text-align: left;
        justify-content: flex-end;
    }
}


@media (width >= 56.25em) {
    .SiteFooter_nav__Cc3LI {
        flex: 1;
        flex-direction: row;
        align-items: flex-start;
        gap: 2.4rem;
    }
}

@media (width >= 75em) {
    .SiteFooter_inner__3KsA7 {
        flex-direction: row;
        align-items: flex-start;
        gap: 6.4rem;
    }
}

@media (width >= 56.25em) {
    .SiteFooter_inner__3KsA7 {
        gap: 8rem;
    }
}

@media (min-width: 768px) {
    .css-l9k4bm {
        max-height: 1000px;
    }
}


@media (min-width: 768px) {
    .css-3fjfmx {
        display: none;
    }
}

@media (min-width: 768px) {
    .css-m5hkqt {
        display: none;
    }
}

@media (min-width: 768px) {
    .css-gv637c {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (max-width: 1559px) {
    .css-1o2mfsl {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 1559px) {
    .css-11nlt7b {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 1559px) {
    .css-11nlt7b {
        font-size: 1.6rem;
    }
}

@media (max-width: 1559px) {
    .css-1pts959 {
        padding: 0px 20px;
    }
}

@media (max-width: 1559px) {
    .css-125rl32 {
        height: 80px;
    }
}

@media (min-width: 1380px) {
    .css-1m3tk1m {
        display: none;
    }
}

@media (min-width: 1440px) {
    .css-pd2080 {
        margin-top: 40px;
    }
}

@media (min-width: 1380px) {
    .css-1m3tk1m {
        display: none;
    }
}

@media (max-width:1100px) {
    .css-5254ef {
        pointer-events: all;
        display: none;
        height: 0px;
        margin: 45px auto 0px;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid rgb(221, 221, 221);
        padding: 0px;
        list-style: none;
    }

    .css-1a88uei {
        margin: 0px 0px 30px;
        font-family: var(--ff-serif);
        font-weight: 700;
        font-size: 3rem;
        line-height: 1.2em;
        text-align: center;
        color: rgb(19, 103, 11);
    }
}

@media (max-width:900px) {
    .css-1mis332 {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .css-125rl32 {
        display: flex;
        flex-wrap: wrap;
        height: 300px !important;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 40px 80px 0px;
    }

    .css-eyq9z8 {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 0 60px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 40px 80px 0px;
        pointer-events: all;
        opacity: 1;
        filter: none;
    }

    .css-1cdby4x {
        position: relative;
        display: flex;
        flex: 1 1 100%;
        border-right: 1px solid rgb(221, 221, 221);
        -webkit-box-align: center;
        align-items: center;
    }

    .css-12zunm {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .SiteFooter_bottomNav__57fes {
        list-style: none;
        padding-left: 0;
        margin-block: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(2.4rem, 1.33vw + 1.6rem, 3.2rem);
        /* text-align: center; */
        align-items: center;
    }
}


@media (max-width:600px) {
    .css-7jmcbh {
        pointer-events: none;
        position: fixed;
        left: 0;
        top: 50px;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        margin: auto;
        padding: 30px 30px 30px;
        background-image: linear-gradient(180deg, #090c09 0%, rgba(9, 12, 9, 0) 58%);
        z-index: 2;
        position: relative;
        padding: 30px 30px 72px;
        background-image: none;
        border-bottom: 1px solid #DDDDDD;
        background-color: #eee;
    }

    .css-cs6kbr {
        margin-left: 10px;
        font-size: 1rem;
        color: currentColor;
    }

    .css-1hffiq1 {
        cursor: pointer;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: var(--ff-serif);
        font-weight: 700;
        font-size: 1rem;
        color: currentColor;
        -webkit-text-decoration: none;
        text-decoration: none;
        z-index: 2;
    }

    a:not([class]) {
    height: 51px;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: currentcolor;
    }

    .css-a1plr2 {
        pointer-events: all;
        cursor: pointer;
        outline: none;
        flex: 0 0 154px;
        width: 154px;
        height: 110px;
        display: inline-block;
        background-image: url(https://heigishnkexpepazwesta1.blob.core.windows.net/media/EXPERIENCE_1_C_RGB_154x90_nmZiBrl.png);
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        transition: transform 200ms;
        will-change: transform;
        z-index: 5;
        position: absolute;
        left: 50px;
    }

    .css-12zunm {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .css-1mis332 {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        padding: 20px 20px;
    }

    .css-16rx2oz {
        font-family: var(--ff-serif);
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2em;
        color: currentcolor;
        white-space: nowrap;
    }

    .css-95c5pp {
        display: flex;
    }

    .css-u49bnp {
        margin: 0px 0px 20px;
        font-family: var(--ff-serif);
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.2em;
        color: rgb(19, 103, 11);
    }

    .css-1sk7lby {
        flex: 1 1 0%;
        border-right: 1px solid rgb(221, 221, 221);
        padding: 0 20px !important;
    }

    .css-x1v78k {
        margin: 0px;
        font-family: var(--ff-serif);
        font-size: 1.3rem;
        line-height: 1.2em;
        color: rgb(187, 188, 189);
        margin-bottom: 10px;
    }

    .css-1irjrwp {
        font-family: var(--ff-serif);
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2em;
        color: currentcolor;
    }
}