.SiteHeader_root__59Fet {
    position: relative;
    z-index: 100;
    inset: 0 0 auto;
    isolation: isolate;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    padding-block-start: clamp(1.6rem, 1vw + 1rem, 2.4rem);
    padding-inline: clamp(1.6rem, 3.69vw + -.62rem, 6.4rem);
}

.site-main {
    position: relative;
    margin-block-start: calc(var(--header-height)* -1);
    overflow-x: clip;
}

.Hero_fullBackground__lDgX9>img, .Hero_fullBackground__lDgX9>video {
    block-size: 100%;
    inline-size: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: url(/231123_HEX_Promovideo_Final-Size16x9_720p.mp4);
}
